<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-1">
  <!-- Brand Logo -->
  <a href="/custom_admin/" class="brand-link">
    <img src="/static/admin/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" />
    <span class="brand-text font-weight-light">E-Hujjat</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- SidebarSearch Form -->
    {% comment %}
    <div class="form-inline mt-3">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Qidirish" aria-label="Search" />
        <div class="input-group-append">
          <button class="btn btn-sidebar"><i class="fas fa-search fa-fw"></i></button>
        </div>
      </div>
    </div>
    {% endcomment %}

    <!-- Sidebar Menu -->
    <nav id="main_sidebar" class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column -nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">SAHIFALAR</li>

        <li class="nav-item">
          <a href="/custom_admin/" class="nav-link">
            <i class="fas fa-tachometer-alt nav-icon"></i>
            <p>Boshqaruv paneli</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/custom_admin/requests/" class="nav-link">
            <i class="fas fa-file nav-icon"></i>
            <p>Hujjatlar</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/custom_admin/organizations/" class="nav-link">
            <i class="fa fa-building nav-icon"></i>
            <p>Tashkilotlar</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/custom_admin/users/" class="nav-link">
            <i class="fa fa-users nav-icon"></i>
            <p>Foydalanuvchilar</p>
          </a>
        </li>

        {% comment %}

        <li class="nav-item">
          <a href="/custom_admin/statistica/" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Statistikalar</p>
          </a>
        </li>

        {% endcomment %}

        <li class="nav-header">SOZLAMALAR</li>
        <li class="nav-item">
          <a href="/custom_admin/settings" class="nav-link">
            <i class="fa fa-cog nav-icon"></i>
            <p>Admin Sozlamalari</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function trim(s, c) {
      if (c === ']') c = '\\]'
      if (c === '^') c = '\\^'
      if (c === '\\') c = '\\\\'
      return s.replace(new RegExp('^[' + c + ']+|[' + c + ']+$', 'g'), '')
    }
  
    function _parent(el, lvl = 0) {
      return lvl == 0 ? el : _parent(el.parentElement, lvl - 1)
    }
  
    function _matchRoute(path = '') {
      return trim(location.pathname, '/') == trim(path, '/')
    }
  
    function _matchRoot(path = '') {
      return location.pathname.includes(path)
    }
  
    links = document.querySelectorAll('#main_sidebar a.nav-link')
  
    links.forEach(function (a) {
      var _is_route = _matchRoute(a.getAttribute('href'))
      // _is_route = true;
  
      if (_is_route) {
        a.classList.add('active')
      }
  
      if (_parent(a, 2).classList.contains('nav-treeview')) {
        var _parent_3 = _parent(a, 3)
        var _base_lnk = _parent_3.firstElementChild
  
        if (_is_route) {
          // _parent(a, 3).classList.add('menu-is-opening');
          _parent_3.classList.add('menu-open')
          _base_lnk.classList.add('active')
        } else if (_matchRoot(_base_lnk.getAttribute('href'))) {
          _parent_3.classList.add('menu-open')
          _base_lnk.classList.add('active')
        }
      }
    })
  
    //nav-item menu-open
    //nav-link active
  })
</script>
<!-- Main Sidebar Container -->
